// Main styles and centering
html {
	color-scheme: dark;
}

body {
	margin: 3rem auto;
	max-width: 55rem;
	line-height: 1.3;
	font-size: 1.2rem;
	padding: 0 2rem;
	
	background-color: #252422;
	color: #DCE1DE;
	font-family: "Courier New", Courier, monospace;
}

// more compact margins
h1, h2, h3, h4 {
	margin-bottom: 0.3rem;
}
ul {
	margin-top: 0.3rem;
}

a {
	color: #8B95C9;
}

h1 a {
	text-decoration: none;
}

hr {
	height: 0.25rem;
	border-radius: 0.2rem;
	border: none;
	background-color: #2e2d2c;
}

.header-separator {
	margin-top: -0.2rem;
}

// Blog titles
.header-title {
	margin: 0;
	font-size: 2.5rem;
}
.subtitle {
	margin: 0.5rem auto;
}
.blog-header {
	display: flex;
	justify-content: space-between;
}
.blog-header-left {
	padding-right: 1rem;
	flex: 1 1 auto;
	max-width: 60%;
}
.blog-header-right {
	flex: 0 0 auto;
	white-space: nowrap;
	text-align: right;
}

// Blog element styling
pre {
	padding : 0.5rem;
	border-radius: 0.3rem;
	overflow: auto;
	tab-size: 4;
	font-family: monospace;
}

blockquote {
	background: #171615;
	border-left: 0.7rem solid #F3E9DC;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}

blockquote p {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

p code {
	background: #171615;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	font-family: monospace;
}

img {
	width: 40rem;
	display: block;
	margin: 0 auto;
}

.footer-text {
	text-align: center;
	color: #2e2d2c;
}

.footer-text a {
	text-decoration: none;
	padding: 0rem 0.5rem;
}

.index-section {
	background-color: #2e2d2c;
	padding: 0.7rem;
	margin-top: 0.6rem;
	border-radius: 0.4rem;
}

.index-section h2 {
	margin-top: -0.3rem;
}

.index-section ul {
	margin-bottom: 0.3rem;
}
