* {
	font-family: monospace;
}

body {
	background-color: #252422;
	margin: 0;
	padding: 0;
}

section {
	height: 100%;
	margin: auto 23%;
	padding: 1rem;
	
	background-color: #252422;
	color: #F3E9DC;
	font-size: 125%;
}

a {
	color: #8B95C9;
}

pre {
	padding : 0.5rem;
	border-radius: 0.3rem;
}
