{% extends "base.html" %}

{% block content %}
<div class="index-section">
  <h2>All about</h2>
  <ul>
	<li><a href="{{ get_url(path='@/about-me.md') }}">About me</a></li>
	<li><a href="{{ get_url(path='@/about-this-site.md') }}">About this site</a></li>
  </ul>
</div>
<div class="index-section">
  <h2>Articles</h2>
  <ul>
	<li><a href="{{ get_url(path='@/blog/sdl-native-wayland.md') }}">Forcing SDL to use Wayland on Wayland</a></li>
	<li><a href="{{ get_url(path='@/blog/my-emacs-tips-and-tricks.md') }}">My Emacs Tips and Tricks</a></li>
	<li><a href="{{ get_url(path='@/blog/emacs-garbage-collection.md') }}">Solving Emacs Garbage Collection Stutters</a></li>
  </ul>
</div>
<div class="index-section">
  <h2>Projects</h2>
  <ul>
	<li><a href="{{ get_url(path='@/projects/connection-machine.md') }}">Connection Machine Logic Simulator</a></li>
	<li><a href="{{ get_url(path='@/projects/swenu.md') }}">Swenu Wayland Menu</a></li>
	<li><a href="{{ get_url(path='@/projects/string-sniper.md') }}">Ghidra String Sniper</a></li>
	<li><a href="{{ get_url(path='@/projects/_index.md') }}">View More</a></li>
  </ul>
</div>
<div class="index-section">
  <h2>Links</h2>
  <ul>
	<li><a href="https://github.com/JackJ30">GitHub</a></li>
	<li><a href="https://portfolio.jackjamison.net">Old portfolio (haven't migrated here yet)</a></li>
  </ul>
</div>
<p class="footer-text"><b><a href="{{ get_url(path='@/blog/_index.md') }}">All articles sorted by date</a>&#8226<a href="{{ get_url(path='@/the-archive.md') }}">Archive</a></b></p>
{% endblock content %}
